@import 'pagination.css';
body {
  height: 100vh;
  display: flex;
  background: #fff;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.heading li{
display: inline-block;
margin: .5rem;
}

.heading img {
  width: 25px;
  height: 25px;
}

.heading h2 {
  margin-top: 2rem;
  font-weight: bold;
  font-size: 30px;
}

.detail p{
  opacity: .6;
}

form label {
  float: left;
  margin:0 0 2% 14%;
}

form input {
  width: 75%;
  height: 50px;
  outline: none;
  padding: 0 .5;
  margin-bottom: 1.5rem;
  border-radius: 5px;
  border: 0ch;
}

.form-group {
  position: relative;
  display: flex;
  width: 100%;
}

form input::placeholder {
  padding: 1rem;
}

form button {
  width: 75%;
  height: 50px;
  outline: none;
  border-radius: 5px;
  background-color: darkslateblue;
  color: #fff;
  font-size: 1.0rem;
  border: 0ch;
}